body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #222222;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {

	box-sizing: border-box;
}

.superinfo-bg {
	color: white;
	background-color: #4A3E6C;
}

.superinfo {
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
}

.superinfo a {
	color: white;
}

.superinfo p, superinfo a {
	margin: 0 10px 10px 10px;
}

.menu-bg {
	background-color: #7A7485;
}

.menu {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	color: white;
}

.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}

.menu-nav a {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover {
	color: #4A3E6C;
}

.introducao {
	font-size: 3em;
	line-height: 1;
	max-width: 960px;
	margin:0 auto;
	padding: 60px 10px;
	color: #2B2538;
}

.sobre {
	border-top: 2px solid darkslateblue;
	border-bottom: 2px solid darkslateblue;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}

.sobre-info {
	flex: 2 1 300px;
}

.sobre-info h1 {
	font-size: 3em;
	margin-bottom: .5em;
}

.sobre-img {
	flex: 1 1 130px;
	align-items: flex-end;
	margin: 0 10px;
	
}

.sobre-info p {
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.hobbies {
	max-width: 960px;
	margin: 60px auto;
}

.hobbies h1 {
	font-size: 3em;
	margin: 0 10px 60px 10px;
}

.hobbies h2 {
	font-size: 3em;
	color: #a4a4a4;
	background: #f7f7f7;
	padding: 60px 20px;
}

.purple {
	border-top: 8px solid #ae81ff;
}

.pink {
	border-top: 8px solid #f9265e;
}

.blue {
	border-top: 8px solid #66d9eb;
}

.hobbies-container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.hobbies-item {
	flex: 1 1 150px;
	margin: 10px;
}

.habilidades {
	border-top: 2px solid darkslateblue;
	border-bottom: 2px solid darkslateblue;
	max-width: 960px;
	margin: 60px auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}

.qualidade-item {
	flex: 1 1 300px;
	margin: 10px;
}

.qualidade-item h2 {
	font-size: 2.25em;
	color: #a4a4a4;
	margin-bottom: 20px;
}

.qualidade-item h2::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before {
	background: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before {
	background: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before {
	background: #66d9eb;
}

.qualidade-item p {
	font-size: 1.25em;
	line-height: 1.4;
	color: #7c7c7c;
}

.contato {
	background: #f7f7f7;
	padding: 60px calc((100% - 960px)/2);
	display: flex;
	flex-wrap: wrap;
}

.contato h1 {
	font-size: 3em;
	color: #a4a4a4;
}

.contato p {
	font-size: 1.25em;
	font-style: italic;
	max-width: 230px;
	color: #7c7c7c;
	margin-bottom: 10px;
}

.contato-info {
	flex: 1;
}

.contato-form {
	flex: 2 1 260px;
	margin: 0 10px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
}

.contato-form input {
	flex: 3 1 260px;
	font-size: 1.25em;
	color: #7c7c7c;
	font-style: italic;
	border: 4px solid darkslateblue;
	background: transparent;
	padding: 15px 10px;
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	margin: 0px;
	border-radius: 0px;
}

.contato-form button {
	flex: 1 1 260px;
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2.25em;
	background: darkslateblue;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	border: 0px;
	padding: 15px 10px;

}

@media(max-width: 600px) {
	.contato-form button {
		font-size: 1.5em;
	}
}

.footer {
	color: white;
	background-color: #4A3E6C;
	text-align: center;
	padding: 15px;
}